<h1>Request Info</h1>
<style>
  table
  {
    border: 1px solid;
  }
</style>
<table>
  <% request.env.keys.each do |key| %>
    <tr>
      <td><%= key %></td>
      <td><%= request.env[key] %></td>
    </tr>
  <% end %>
</table>
